/* Plant Card Styles */
.plant-card, .add-plant-card {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  align-items: center;
  transition: transform 160ms ease, box-shadow 160ms ease;
  transform-origin: center center;
  will-change: transform;
}

.add-plant-card, .add-plant-card-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plant-card-selected, add-plant-card-selected {
  background-color: rgb(141, 133, 133)
}

.plant-card-image, .add-plant-card-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
  display: flex;
}

.add-plant-card-image {
  width: 64px;
  height: 64px;
   color: rgb(82, 105, 90);
  object-fit: cover;
  display: flex;
}

.plant-card-title, .add-plant-card-title {
  text-align: center;
  margin: 0 0 12px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgb(82, 105, 90);
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items:flex-start;
}

.plant-card-labels {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}

.plant-card-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgb(82, 105, 90);
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 4px;
}