.plant-edit-content {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.plant-edit-content h2 {
    margin-bottom: 20px;
    color: bisque;;

}

