
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:bisque;;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid bisque;;
    border-radius: 4px;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: bisque;;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}