.defaultButton {
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
    position: relative;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    padding-left: 10px;
    padding-right: 10px;
    height : 60px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.defaultButtonText {
    font-family: 'Roboto', sans-serif;
    color: rgb(82, 105, 90);
    font-size: 20px;
    user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .defaultButton:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

/* Shrink when clicked/pressed */
.defaultButton:active {
  transform: scale(0.98);
}
