body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  color: green;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(82, 105, 90);
}

.Logo {
  background-repeat: no-repeat;
  background-color: bisque;
  position: relative;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  left: 20px;
  display: flex;
  align-items: center; 
}
.logo-img {
  height: auto;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  display: flex;
}

.Logo span {
  font-family: 'Roboto', sans-serif;
  display: flex;
  color: rgb(82, 105, 90);
  font-size: 24px;
  position: relative;
}

.MainText {
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  background-color: transparent;
  font-size: 20px;
  flex-shrink: 1;
  white-space: nowrap;
  pointer-events: auto;
}
